In [30]:
import os
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/jupyter-masterclass/main/tweet_emotions.csv')

In [31]:
df.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

In [25]:
df.isna().sum()

Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

In [29]:
df = df.drop(columns=['Index','Customer Id','Phone 2'])
df.head()

,First Name,Last Name,Company,City,Country,Phone 1,Email,Subscription Date,Website
0,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,jesus90@roberson.info,2022-04-22,http://merritt.com/